<%- include('bootheader') -%>

<%- include('menubar') -%>

  <div class="jumbotron">
        <h1> Buy/Sell Log List for <%= user.googlename %> </h1>

          <form method="post" action="stock">
              Stock Index: <input type="text" name="stockIndex"><br>
              Date of Action: <input type="date" name="time"><br>
              Type of Action: <br>
              Buy <input type="radio" name="actionType" value="1"<br>
              Sell <input type="radio" name="actionType" value="-1"<br><br>
              Price: <input type="text" name="price"><br>
              Share: <input type="number" name="share"><br>
              <input type="submit" value="store">
          </form>
  </div>

<h3>List of Operations</h3>
<table class="table table-bordered table-striped" id="operation_log">
    <thead>
        <tr>
            <th>Index</th>
            <th>Shares</th>               <!-- column 1 -->
            <th>Date of Operation</th>
            <th>Buy/Sell</th>
            <th>Price</th>
            <th>Cost of Operation</th>    <!-- column 5 -->
            <th>Delete this Log</th>
        </tr>
    </thead>

    <tbody>
        <% stocks.forEach( stock => {%>
            <tr>
                <td><%= stock.stockIndex %></td>
                <td><%= stock.share %></td>
                <td><%= stock.time %></td>
                <td><% if (stock.actionType == 1){%>
                  Buy
                <%} else {%>
                  Sell
                <%}%></td>
                <td><%= stock.price %></td>
                <td><%= parseInt(stock.cost) %></td>
                <td><a href="/stock/remove/<%=stock._id %>">
                    Delete
                </a></td>
            </tr>
        <% }) %>
    </tbody>
  </table>
  <span id="sumValue"></span>

<script>
  var table = document.getElementById("operation_log"), sumOfCost = 0;

  for (var i = 1; i < table.rows.length; i++){
    sumOfCost = sumOfCost + parseInt(table.rows[i].cells[5].innerHTML);
  }
  document.getElementById("sumValue").innerHTML = "Total Earnings = $" + (-1)*sumOfCost;
</script>

<%- include('bootfooter') -%>
